#Ignore these folders

Ground_truth/
gtmark_test_db/
MarkupFromVIA/
SampleSets/
SampleSetsPNG/
Outputs/
ResizedSS4/
ResizedSS8/
MiscNotebooks/.ipynb_checkpoints

imsegNotebooks/.ipynb_checkpoints/
imsegNotebooks/pretrained_models/resnet_v1_50.ckpt
imsegNotebooks/pretrained_models/vgg_16.ckpt
imsegNotebooks/prize_papers
