#Ignore these folders

Ground_truth/
gtmark_test_db/
MarkupFromVIA/
SampleSets/
Outputs/
ResizedSS4/
ResizedSS8/
MiscNotebooks/.ipynb_checkpoints/


ML_Notebooks/dh_segment
ML_Notebooks/margin_markup
ML_Notebooks/mark_markup
ML_Notebooks/Page_markup
ML_Notebooks/SampleSets
ML_Notebooks/SampleSetsPNG

ML_Notebooks/Notebooks/demo/
ML_Notebooks/Notebooks/dh_segment/
ML_Notebooks/Notebooks/doc/
ML_Notebooks/Notebooks/examples/
ML_Notebooks/Notebooks/Margin_seg_code/
ML_Notebooks/Notebooks/Page_seg_code/
ML_Notebooks/Notebooks/pretrained_models/
ML_Notebooks/Notebooks/prize_papers/

ML_Notebooks/Notebooks/Mark_seg_code/bin_masks/
ML_Notebooks/Notebooks/Mark_seg_code/dh_segment/
ML_Notebooks/Notebooks/Mark_seg_code/mark_model/
ML_Notebooks/Notebooks/Mark_seg_code/pretrained_models/
ML_Notebooks/Notebooks/Mark_seg_code/prob_masks/
ML_Notebooks/Notebooks/Mark_seg_code/processed_marks/
